.card {
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 10px;
}

.card-img {
    border-radius: 5px;
    height: 100px;
    margin-right: 10px;
    object-fit: fill;
    width: 100px;
}

.card-content {
    flex: 1;
}

.cart-title {
    margin: 0;
}

.card-description {
    margin: 0 0 10px 0;
}

.card-price {
    margin: 0;
    font-weight: bold;
}

.remove-button {
    background-color: rgb(86, 34, 34);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
    transition: .5s all ease;
}

.add-button {
    background-color: rgb(34, 86, 50);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 10px;
    transition: .5s all ease;
}

.remove-button:hover {
    background-color: rgb(151, 65, 65);
}
.add-button:hover {
    background-color: rgb(73, 137, 92);
}